<br />
<pre></pre>
<div align="center" style="padding-top: 40px; text-decoration: underline">
  <h1>About Us</h1>
</div>
<br />
<div class="text-primary" style="display: flex">
  <br />
  <br />

  <br />
  <br />
  <div
    style="
      height: 550px;
      width: 950px;
      border-right-style: dashed;
      border-right-color: black;
    "
  >
    <p
      style="
        color: black;
        margin-left: 40px;
        font-weight: 700;
        font-size: larger;
      "
    >
      <br />
      GYM-KHANA was started on World Health Day on 7 th April 2016. It’s been
      more than a years of training people in fitness with the happy reviews of
      thousands of people. <br />
      Every year 100+ customers takes training from us. GYM-KHANA offers the
      most exciting and up-to-date curriculum as well as ongoing training in all
      aspects of the fitness industry. <br />
      We are specialise in this field and have been trainng people from last 6
      years. GYM-KHANA is the only Advanced Personal Trainer program, which
      offers you low-cost training, Best results and complete training on
      physical Development. <br />
      <br />
    </p>

    <div class="container text-center">
      <div class="row row-cols-2">
        <div class="col"><img width="400px" src="/assets/g4.jpg" alt="" /></div>
        <div class="col">
          <img width="400px" src="/assets/gym1.jpg" alt="" />
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>

  <div style="height: 500px; width: 950px; height: 500px">
    <p
      style="
        color: black;
        margin-left: 40px;
        font-weight: 700;
        font-size: larger;
      "
    >
      <br />
      GYM-KHANA was started on World Health Day on 7 th April 2016. It’s been
      more than a years of training people in fitness with the happy reviews of
      thousands of people. <br />
      Every year 100+ customers takes training from us. GYM-KHANA offers the
      most exciting and up-to-date curriculum as well as ongoing training in all
      aspects of the fitness industry. <br />
      We are specialise in this field and have been trainng people from last 6
      years. GYM-KHANA is the only Advanced Personal Trainer program, which
      offers you low-cost training, Best results and complete training on
      physical Development. <br />
      <br />
    </p>

    <div class="container text-center">
      <div class="row row-cols-2">
        <div class="col">
          <img width="400px" height="250px" src="/assets/g3.jpg" alt="" />
        </div>
        <div class="col">
          <img width="400px" height="250px" src="/assets/g1.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
