<br />
<br />
<br />
<pre></pre>
<pre></pre>
<br />
<br />
<br />
<div class="container">
  <div class="row">
    <!--card-1-->

    <div class="col card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">
          <h1><i class="fa-solid fa-indian-rupee-sign"></i> 600/ MONTH</h1>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted"><h2>Basic Plan</h2></h6>
        <div class="card-text">
          <ul>
            <h4>
              <li>Training</li>
            </h4>
            <h4>
              <li>Beginner Class</li>
            </h4>
            <h4>
              <LI>Personal Trainer</LI>
            </h4>
            <h4>
              <li>Beginner Class</li>
            </h4>
            <h4>
              <li>Beginner Class</li>
            </h4>
            <h4>
              <li>Nutrition Diet Plan</li>
            </h4>
            <h4>
              <li>Foundation</li>
            </h4>
            <h4>
              <li>Meditation Classes</li>
            </h4>
            <h4>
              <li>Zumba Classes</li>
            </h4>
            <h4>
              <li>Protein Drink</li>
            </h4>
          </ul>
        </div>
        <br />
        &nbsp;&nbsp;&nbsp; &nbsp;<a
          class="btn btn-info"
          routerLink="/register"
          routerLinkActive="active"
          role="button"
          >Click to Join ..>></a
        >
      </div>
      <!--card2 -->
    </div>
    <div class="col card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">
          <h1><i class="fa-solid fa-indian-rupee-sign"></i> 800/ MONTH</h1>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted"><h2>Premium Plan</h2></h6>
        <div class="card-text">
          <!--list-->
          <ul>
            <h4>
              <li>Training</li>
            </h4>
            <h4>
              <li>Beginner Class</li>
            </h4>
            <h4>
              <LI>Personal Trainer</LI>
            </h4>
            <h4>
              <li>Beginner Class</li>
            </h4>
            <h4>
              <li>Beginner Class</li>
            </h4>
            <h4>
              <li>Nutrition Diet Plan</li>
            </h4>
            <h4>
              <li>Foundation</li>
            </h4>
            <h4>
              <li>Meditation Classes</li>
            </h4>
            <h4>
              <li>Zumba Classes</li>
            </h4>
            <h4>
              <li>Protein Drink</li>
            </h4>
          </ul>
        </div>
        <br />
        &nbsp;&nbsp;&nbsp; &nbsp;
        <a
          class="btn btn-warning"
          routerLink="/register"
          routerLinkActive="active"
          role="button"
          >Click to Join ..>></a
        >
      </div>
    </div>
    <div class="col card" style="width: 18rem">
      <!--card3-->
      <div class="card-body">
        <h5 class="card-title">
          <h1><i class="fa-solid fa-indian-rupee-sign"></i> 1000/ MONTH</h1>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted"><h2>Master Plan</h2></h6>
        <div class="card-text">
          <!--list-->
          <ul>
            <h4>
              <li>Training</li>
            </h4>
            <h4>
              <li>Beginner Class</li>
            </h4>
            <h4>
              <LI>Personal Trainer</LI>
            </h4>
            <h4>
              <li>Beginner Class</li>
            </h4>
            <h4>
              <li>Beginner Class</li>
            </h4>
            <h4>
              <li>Nutrition Diet Plan</li>
            </h4>
            <h4>
              <li>Foundation</li>
            </h4>
            <h4>
              <li>Meditation Classes</li>
            </h4>
            <h4>
              <li>Zumba Classes</li>
            </h4>
            <h4>
              <li>Protein Drink</li>
            </h4>
          </ul>
        </div>
        <br />

        &nbsp;&nbsp;&nbsp; &nbsp;
        <a
          class="btn btn-secondary"
          routerLink="/register"
          routerLinkActive="active"
          role="button"
          >Click to Join ..>></a
        >
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
