<div class="" style="padding-top: 70px; height: 800px">
  <br />

  <h1
    align="center"
    style="
      text-decoration: underline;
      font-size: xx-large;
      font-weight: 700;
      text-align: center;
      border-right-style: dashed;
    "
  >
    Schedule
  </h1>
  <br />
  <br />

  <div style="float: left; padding-left: 60px; height: 500px; width: 450px">
    <ul class="list1">
      <li>Monday - Full Body Workout</li>
      <br />
      <li>Tuesday - Upper Body & Core</li>
      <br />
      <li>Wednesday - Upper Body & Lower Body</li>
      <br />
      <li>Thursday - Core & Lower Body</li>
      <br />
      <li>Friday - Full Body</li>
      <br />
      <li>Saturday - Yoga /Meditation</li>
      <br />
      <hr />

      <li style="color: black">
        You can design your own schedule as per your comfort.
      </li>
      <li style="color: black">
        Above mention is our basic routin, If you want to modify you can consult
        your trainer.
      </li>
    </ul>
  </div>

  <div class="container" style="float: right; border-left-style: dotted">
    <div class="row">
      <div class="col">
        <img
          width="1000px"
          height="500px"
          style="border-style: groove"
          src="/assets/gg1.jpg"
          alt=""
        />
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <hr />
</div>
